@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #E3F2FD;
}

h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    background: #5372F0;
    font-size: 1.75rem;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input {
    width: 550px;
}

.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 15px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    background: #5372F0;
}

.weather-input .seperator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-input .seperator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}

.weather-input .location-btn {
    background: #6C757D;
}

.weather-data {
    width: 100%;
}

.current-weather {
    color: #fff;
    background: #5372F0;
    padding: 20px 70px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.current-weather h2{
    font-size: 1.7rem;
}

.current-weather h4 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.weather-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: #6C757D;
    width: 40%;
}

.weather-cards .card img {
    margin: 5px 0 -12px 0;
    max-width: 70px;
}

@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .weather-input {
        width: 100%;
    }

    .weather-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-cards .card {
        width: 60%;
    }
}

